@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en" style="background-color: rgb(220,220,220);overflow-y:scroll"> <!--height:100vh-->
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <title>@ViewData["Title"] - PublikoWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Added by me -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    @*<script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>*@
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/gerstyles.css" rel="stylesheet" />
    <!-- Core theme CSS Simple side bar (includes Bootstrap)-->
    <link href="css/styles_simple_side_bar.css" rel="stylesheet" />

</head>
<body id="page-top"> <!--id="page-top"-->

    <!-- Navigation-->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:coral"> <!-- class="fixed-top" -->
        <div class="container">
            @if (SignInManager.IsSignedIn(User))
            {
                <a asp-page="/LoggedIn/MyStart" class="navbar-brand text-white">My Publiko</a>
            }
            else
            {
                <a class="navbar-brand text-white">Welcome to Publiko</a>
            }

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>

    <!-- Body-->
    <div>
        <partial name="_CookieConsentPartial" />

        @RenderBody()
        <div hidden style="height:500px"></div>
    </div>


    <!-- Footer-->
    <footer class="navbar bg-dark justify-content-center fixed-bottom"> <!-- class="fixed-bottom" -->
        <p class="m-0 text-center text-white small">Copyright &copy; Publiko 2021</p>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    @*<script src="js/scripts.js"></script>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>