@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Header-->
<header class="d-flex flex-wrap align-content-center justify-content-center" style="height:100vh;background-image:url(assets/img/girl_banner_50grey.jpg)">
    <div class="text-center text-white-50">
        <h1 style="font-size:5em">Publiko</h1>
        <h2>The easiest way to your own Website!</h2>
        <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Learn More</a>
    </div>
</header>

<!-- Content section 1-->
<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/old_lady_wtf.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Ridiculously easy...</h2>
                    <p>Forget about a crowded interface full of buttons. Publiko offers a simple but still quite powerful set of tools that even this old lady can use.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/focus.jpeg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Don't lose focus!</h2>
                    <p>We design our software with the user in mind, that is why it is so easy and intuitive to use.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3-->
<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="assets/img/03.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Let there be a website!</h2>
                    <p>Absolutely no design knowledge is required to create your website with Publiko. Just bring your own creativity, we put the rest.</p>
                </div>
            </div>
        </div>
    </div>
</section>
