@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div style="background-color:rgb(220,220,220)">
    <div class="container" style="background-color:rgb(235,235,235)">
        <h1 class="p-4">@ViewData["Title"]</h1>
        <hr/>
        <div class="p-5">
            <h2>GDPR-Compliant Privacy Policy</h2>
            <p><strong>INTRODUCTION</strong></p>
            <p>Thank you for choosing to be part of our community at <span style="color: #8351f9;">Publiko</span>. We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us at <span style="color: #8351f9;">info@publiko.com</span>.</p>
            <p>When you visit our website<span style="color: #8351f9;"> Publiko.com</span> and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy notice, we describe our privacy policy. We seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our site and our services.</p>
            <p>Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us.</p>
            <p>This privacy policy was created using <span style="color: #000000;"><a style="color: #000000;" href="https://termly.io/products/privacy-policy-generator/">Termly’s Privacy Policy Generator</a>.</span></p>
            <p>
                Table of contents<br>
                WHAT INFORMATION DO WE COLLECT?<br>
                WHAT IS OUR STANCE ON THIRD-PARTY WEBSITES?<br>
                HOW DO WE KEEP YOUR INFORMATION SAFE?<br>
                DO WE MAKE UPDATES TO THIS POLICY?<br>
                HOW CAN YOU CONTACT US ABOUT THIS POLICY?
            </p>
            <p><strong>WHAT INFORMATION DO WE COLLECT?</strong></p>
            <p>Personal information you disclose to us</p>
            <p>In Short: We collect personal information that you provide to us such as name, address, contact information, passwords and security data, payment information, and social media login data.</p>
            
            <p>The personal information that we collect depends on the context of your interactions with us and the Sites, the choices you make and the products and features you use. The personal information we collect can include the following:</p>
            <p>Name and Contact Data. We collect your first and last name, email address, postal address, phone number, and other similar contact data.</p>
            <p>Credentials. We collect passwords, password hints, and similar security information used for authentication and account access.</p>
            <p>Payment Data. We collect data necessary to process your payment if you make purchases, such as your payment instrument number (such as a credit card number), and the security code associated with your payment instrument. All payment data is stored by our payment processor and you should review its privacy policies and contact the payment processor directly to respond to your questions.</p>
            
            <p>All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.</p>
            <p>
                Information automatically collected<br>
                In Short: Some information – such as IP address and/or browser and device characteristics – is collected automatically when you visit our websites.
            </p>
            <p>We automatically collect certain information when you visit, use or navigate the Sites. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Site and other technical information. &nbsp;This information is primarily needed to maintain the security and operation of our Sites, and for our internal analytics and reporting purposes.</p>
            
            
            <p>
                Information collected from other Sources<br>
                In Short: We may collect limited data from public databases, marketing partners, social media platforms, and other outside sources.
            </p>
            <p>We may obtain information about you from other sources, such as public databases, joint marketing partners, social media platforms (such as Facebook), as well as from other third parties. Examples of the information we receive from other sources include: social media profile information (your name, gender, birthday, email, current city, state and country, user identification numbers for your contacts, profile picture URL and any other information that you choose to make public); marketing leads and search results and links, including paid listings (such as sponsored links).</p>
            
            
            <p><strong>WHAT IS OUR STANCE ON THIRD-PARTY WEBSITES?</strong></p>
            <p>In Short: We are not responsible for the safety of any information that you share with third-party providers who advertise, but are not affiliated with, our websites.</p>
            <p>The Sites may contain advertisements from third parties that are not affiliated with us and which may link to other websites, online services or mobile applications. We cannot guarantee the safety and privacy of data you provide to any third parties. Any data collected by third parties is not covered by this privacy policy. We are not responsible for the content or privacy and security practices and policies of any third parties, including other websites, services or applications that may be linked to or from the Sites. You should review the policies of such third parties and contact them directly to respond to your questions.</p>
            
            <p><strong>HOW DO WE KEEP YOUR INFORMATION SAFE?</strong></p>
            <p>In Short: We aim to protect your personal information through a system of organizational and technical security measures.</p>
            <p>We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, please also remember that we cannot guarantee that the internet itself is 100% secure. Although we will do our best to protect your personal information, transmission of personal information to and from our Sites is at your own risk. You should only access the services within a secure environment.</p>
            
            
            <p><strong>DO WE MAKE UPDATES TO THIS POLICY?</strong></p>
            <p>In Short: Yes, we will update this policy as necessary to stay compliant with relevant laws.</p>
            <p>We may update this privacy policy from time to time. The updated version will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy policy frequently to be informed of how we are protecting your information.</p>
            <p><strong>HOW CAN YOU CONTACT US ABOUT THIS POLICY?</strong></p>
            <p>If you have questions or comments about this policy, email us at <span style="color: #8351f9;">info-policy@publiko.com</span> .
            
        </div>

    </div>
</div>
